{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_filter %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1>{{ welcome }}</h1>

    {% if articles %}
        <h1>{{ articles|get_value:"article"|get_attr:"id" }}</h1>
    {% endif %}
    {% get_all_category as category_list %}
    <ul>
        {% for category in category_list %}
            <li>
                <a href="#">{{ category.name }}</a>
            </li>
        {% empty %}
            There is no category!
        {% endfor %}
    </ul>
{% endblock %}