{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_filter %}

{% block title %}
    David & Alice
{% endblock %}
{% block customcss %}
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">
{% endblock %}

{% block customejs1 %}
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                    <h1 class="page-title">About Me</h1>
                    <article class="post">
                        <div class="entry-content clearfix">
                            <figure class="img-responsive-center">
                                <img class="img-responsive" src="{% static 'blog/img/img.jpg' %}" alt="Developer Image">
                            </figure>
                            <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb
                                and
                                flow of things. There are many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form, by injected humour, or randomised words
                                which don’t look even slightly.</p>
                            <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb
                                and
                                flow of things. There are many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form, by injected humour, or randomised words
                                which don’t look even slightly.</p>
                            <div class="height-40px"></div>
                            <h2 class="title text-center">Social</h2>
                            <ul class="social">
                                <li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
                                <li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
                                <li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
                                <li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
                            </ul>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
{% endblock %}
{% block customejs2 %}
    <script src="{% static 'blog/js/script.js' %}"></script>
{% endblock %}